@inherits LayoutComponentBase
<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="top-row center">
            <h4>Minesweeper (WASM)</h4>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <div class="footer">
            <h6>Copyright 2024 by thets</h6>
        </div>        
    </main>
</div>
