@page "/"

<PageTitle>Minesweeper</PageTitle>

<div class="container">
    <div class="gamesetup">
        @if (gameGrid.GameType == GameType.Easy)
        {
            <button class="btn btn-secondary">Easy</button>
        }
        else
        {
            <button class="btn btn-primary active" @onclick="(() => StartGame(GameType.Easy))">Easy</button>
        }
        @if (gameGrid.GameType == GameType.Medium)
        {
            <button class="btn btn-secondary">Medium</button>
        }
        else
        {
            <button class="btn btn-primary active" @onclick="(() => StartGame(GameType.Medium))">Medium</button>
        }
        @if (gameGrid.GameType == GameType.Hard)
        {
            <button class="btn btn-secondary">Hard</button>
        }
        else
        {
            <button class="btn btn-primary active" @onclick="(() => StartGame(GameType.Hard))">Hard</button>
        }
    </div>
    <GameField GameGrid="@gameGrid" />
</div>
<div class="footerspace">&nbsp;</div>

@code {
    private GameGrid gameGrid = GameGrid.SetupGame(GameType.Easy);

    private void StartGame(GameType gameType)
    {
        gameGrid = GameGrid.SetupGame(gameType);
        Console.WriteLine("StartGame: Reset game");
    }
}