@page "/"

<PageTitle>Minesweeper</PageTitle>

<div class="container">
    <div class="gamesetup">
        @if (gameType == GameType.Easy)
        {
            <button class="btn btn-primary active" @onclick="(() => StartEasyGame())">Easy</button>
        }
        else
        {
            <button class="btn btn-secondary" @onclick="(() => StartEasyGame())">Easy</button>
        }
        @if (gameType == GameType.Medium)
        {
            <button class="btn btn-primary active" @onclick="(() => StartMediumGame())">Medium</button>
        }
        else
        {
            <button class="btn btn-secondary" @onclick="(() => StartMediumGame())">Medium</button>
        }
        @if (gameType == GameType.Hard)
        {
            <button class="btn btn-primary active" @onclick="(() => StartHardGame())">Hard</button>
        }
        else
        {
            <button class="btn btn-secondary" @onclick="(() => StartHardGame())">Hard</button>
        }
    </div>
    <GameField GridWidth="@gridWidth" GridHeight="@gridHeight" TotalMines="@mines" GameType="@gameType"/>
</div>
<div class="footerspace">&nbsp;</div>

@code {
    private int mines = 10;
    private int gridWidth = 10;
    private int gridHeight = 10;
    private GameType gameType = GameType.Easy;

    private void StartEasyGame()
    {
        gameType = GameType.Easy;
        mines = 10;
        gridWidth = 10;
        gridHeight = 10;
        Console.WriteLine("StartEasyGame: Reset game");
    }

    private void StartMediumGame()
    {
        gameType = GameType.Medium;
        mines = 20;
        gridWidth = 15;
        gridHeight = 10;
        Console.WriteLine("StartMediumGame: Reset game");
    }

    private void StartHardGame()
    {
        gameType = GameType.Hard;
        mines = 30;
        gridWidth = 20;
        gridHeight = 10;
        Console.WriteLine("StartHardGame: Reset game");
    }
}